{{#each all as |pro|}}
<h2>
    <i class="fas fa-rocket"></i>
    {{pro.name}}
    <span class="float-right">
        <i class="text-reg">
            <span>
            <i class="fas fa-money-check-alt"></i>
             Needed: {{pro.needed_funding}}
            </span>
            <span>
            <i class="fas fa-money-check-alt"></i>
             Needed: {{pro._funding}}
            </span>
        </i>
    </span>
</h2>
<p class="font-italic">
{{pro.description}}
</p>

<button class="btn btn-outline-primary btn-block" data-target="#user{{pro.user_id}}" data-toggle="collapse" aria-expanded="false" aria-controls="user{{pro.user_id}}">
    <i class="fas fa-chevron-down"></i>
    Show User Details
</button>
<div id="user{{pro.user_id}}" class="collapse container-fluid">
    <h4>
    {{pro.user.name}}  

    </h4>
    {{pro.user.email}}
</div> 

{{/each}}
